.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    background: rgb(41,41,41);
background: linear-gradient(0deg, rgba(41,41,41,0.5662640056022409) 7%, rgba(124,115,114,0.4654236694677871) 70%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  
  .media:hover {
    background-color: white;
    color: black;
    font-weight: bold;
  }
  
  @media (max-width: 550px) {
    .media {
      width: 46%;
    }
  }
  
  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
  }
  
  .subTitle {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    padding-bottom: 3px;
  }